
#pageview img{
  width: 200px;
  height: 200px;
  margin-left: calc(50% - 100px);
  margin-top: 20px;
  float: left;


}
#bd{
  font-size: 90px;
  float: left;
  font-family: monospace;
  display: inline;
  margin-left: calc(50% - 247px);

}
#pageview p{
  font-family: sans-serif;
  font-size: 25px;
  float: left;
  padding: 5px;
}
