
th{
  border-left: none;
  border-right: none;
  text-align: left;
  padding: 8px;
  background-color: #000000ff;
  color: white;
  height: 45px

}
td {
  border: 1px  #dddddd;
  text-align: left;
  padding: 8px;
}
table{
  border-collapse: collapse;
  width:100%;
  color: #000000ff;
  font-size: 15px;
  overflow-x: scroll;
  float: left;
}
tbody{
  overflow: scroll;
}
tr:nth-child(even) {
  background-color: #eeeeee;
}
.table{
  overflow-x: scroll;
  width:calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}
.table::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 670px) {
  .table::-webkit-scrollbar {
      display: block;
  }
}
